<div class="bootstrap-container py-5  text-white" id="footer">
    <div class="row">
        <div class=" col-md-6 col-lg-4">
            <h2 class="text-helium">About the site</h2>
            <p>This blog is a collection of thoughts and recommendations on how organisations can build and manage enterprise-grade personalisation programs that deliver business value through relevant experiences to all their audiences during every engagement.</p>
        </div>
        <div class="col-md-6 col-lg-4 offset-lg-4" id="subscribe">
            <h2 class="text-helium">Subscribe</h2>

            <form id="subscribe-form" class="needs-validation" action="" method="POST" novalidate>
                <div class="mb-3">
					<label for="email">Email address</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter a valid email.</div>
					<small id="emailHelp">We'll never share your email with anyone else.</small>
                </div>
                <button type="submit" class="btn btn-warning bg-helium">Subscribe</button>
            </form>
        </div>
    </div>
</div>